@page
@model ESMS.Pages.Configurations.AuthorizationModel
@using ESMS.Pages.Shared
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-body card-block">
                <h4>Lista e autorizimeve në nivel të grupit</h4>
                <hr />
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4">
                        <label>@Resource.grupi</label>
                        @Html.DropDownList("groupiID", BaseModel.GetGroups(1, null), "Zgjedhe", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="listOfPolicies">

            </div>
        </div>
    </div>
<script>
    $('#groupiID').change(function () {
        $('#listOfPolicies').load('/Configurations/_ListClaimsAuthorization?groupId='+$(this).val())
    })
</script>
