@page
@model ESMS.Pages.Configurations.MenuModel
@using ESMS
@{
    ViewData["Title"] = "Menu";
}

<div class="container-fluid p-0">
    <div class="card">
        <div class="card-body card-block">
            <h4> Regjistrimi i menyve</h4>
            <hr />
            <form method="post">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.MenuName_Sq"></label>
                            <input asp-for="Input.MenuName_Sq" class="form-control" />
                            <span asp-validation-for="Input.MenuName_Sq" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.MenuName_En"></label>
                            <input asp-for="Input.MenuName_En" class="form-control" />
                            <span asp-validation-for="Input.MenuName_En" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Icon"></label>
                            <input asp-for="Input.Icon" class="form-control" />
                            <span asp-validation-for="Input.Icon" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <input type="submit" class="btn btn-primary w-100" style="margin-top:8px" value="Regjistro" />
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <h4>Lista e menyve te regjistruara</h4>
            <hr />
            <div id="ListOfMenus">
                <partial name="_MenuList" for="menus" />
            </div>
        </div>

        <div class="card-body">
            <h4>Lista e nen menyve te regjistruara</h4>
            <hr />
            <div id="listOfSubMenus">
                <partial name="_SubMenu" for="subMenus" />
            </div>
        </div>
    </div>
</div>
@if (Model.error != null)
{
    <script>
        $(document).ready(function (){
            showAlert(@Model.error.nError, '@Model.error.errorDescription')
        })
    </script>
}