@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
        Layout = "_LoginLayout";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<h4>Për tu kyqur në sistem klikoni në linkun: <a href="https://localhost:44320/">ESMS</a></h4>