@page
@model LoginModel
@using ESMS
@{
    ViewData["Title"] = "Log in";
    Layout = "_LoginLayout";
}
<div class="login-form">
    <form id="account" method="post">
        <h4>@Resource.loginText</h4>
        <hr s />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" onclick="Loading()" class="btn btn-primary w-100">@Resource.login</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">@Resource.keniHarruarFjalekalimin</a>
            </p>
        </div>
    </form>
</div>
