<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="keywords" content="au theme template">

    <title>@ViewData["Title"] - ESMS</title>

    <link href="~/Templeate/css/font-face.css" rel="stylesheet" media="all" />
    <link href="~/Templeate/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/mdi-font/css/material-design-iconic-font.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Templeate/vendor/animsition/animsition.min.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/wow/animate.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/css-hamburgers/hamburgers.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Templeate/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Templeate/css/theme.css" rel="stylesheet" />
    <link href="~/css/Loader.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/Images/a0cb82c9-8b23-4d15-9d89-c8ee9c611700_200x200.png" alt="logo" />
                            </a>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="loginLoader">
        <div class="modal-dialog-centered">
            <div class="modal-body d-block m-auto">
                <div class="loadingio-spinner-wedges-3svs9qaeaso d-block m-auto p-4">
                    <div class="ldio-fzd07wmnr9j">
                        <div> <div> <div> </div> </div> <div> <div> </div> </div> <div> <div> </div> </div> <div> <div> </div> </div> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Templeate/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/Templeate/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Templeate/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="~/Templeate/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Templeate/vendor/slick/slick.js"></script>
    <script src="~/Templeate/vendor/wow/wow.min.js"></script>
    <script src="~/Templeate/vendor/animsition/animsition.min.js"></script>
    <script src="~/Templeate/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Templeate/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Templeate/vendor/circle-progress/circle-progress.js"></script>
    <script src="~/Templeate/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Templeate/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Templeate/vendor/select2/select2.min.js"></script>
    <script src="~/Templeate/js/main.js"></script>
    <script>
        function Loading() {
            $('#loginLoader').modal('show')
        }

        function HideLoading() {
            $('#loginLoader').modal('hide')
        }
    </script>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
